@import url(https://fonts.googleapis.com/css?family=Space+Grotesk:300,regular,500,600,700);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, :active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  line-height: 1;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header__container {
  display: flex;
  min-height: 72px;
  align-items: center;
}
.header__logo {
  position: relative;
  z-index: 5;
}
.header__menu {
  flex: 1 1 auto;
}
.header__buttons {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: flex-end;
}
.menu__body {
  margin: 0 56px 0 0;
}
.menu__list {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  gap: 56px;
}
.menu__link {
  position: relative;
  color: #fff;
  font-weight: 500;
  line-height: 28px;
}
.menu__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.25px;
  border-radius: 4px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.2s ease-in;
}
.menu__link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.button-watch-series {
  background-color: #FDFF00;
  border-radius: 8px;
  transition: all ease 0.3s;
  color: #000;
  font-weight: 700;
  line-height: 28px;
  padding: 6px 33px 6px 34px;
  white-space: nowrap;
}
.button-watch-series:hover {
  background-color: #fff;
}
@media (max-width: 767.98px) {
  .button-watch-series {
    font-size: calc(12px + 10.2 * ((100vw - 320px) / 1410));
  }
}
@media (min-width: 767.98px) {
  .button-watch-series {
    font-size: calc(12px + 6 * (100vw / 1410));
  }
}

.movie-card {
  background: #000;
  border: 1px solid #383838;
  border-radius: 8px;
  overflow: hidden;
}
.movie-card__wrapper {
  display: flex;
  padding: 0;
}

.item-poster {
  max-width: 140px;
  background: #fff;
  user-select: none;
}

.item-description__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}
.item-description__item-genres {
  padding: 16px 0 0 0;
  margin: 0 0 6px 0;
}
.item-description__item-title {
  margin: 0 0 6px 0;
}
.item-description__item-rating {
  margin: 0 0 6px 0;
}
.item-description__item-text {
  max-width: 220px;
  margin: 0 0 12px 0;
}
.item-description__item-buttons {
  display: flex;
  gap: 12px;
}

.item-genres {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #929292;
}

.item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

.item-rating {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.item-rating span {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #FDFF00;
}

.item-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #929292;
}

.button-watch {
  background: #FDFF00;
  border-radius: 8px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  padding: 5px 31px 5px 32px;
  transition: all ease 0.3s;
}
.button-watch:hover {
  background-color: #fff;
}

.button-details {
  background: #000;
  color: #B2B2B2;
  border: 1px solid #B2B2B2;
  border-radius: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  padding: 5px 30px;
  transition: all ease 0.3s;
}
.button-details:hover {
  background-color: #1c1c1c;
}

body {
  font-family: "Space Grotesk";
  font-weight: 400;
  font-size: 18px;
  background: url("../img/Background.png") no-repeat;
  background-size: cover;
  background-color: #000;
  color: #fff;
  font-feature-settings: "liga" off;
}
body._lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

[class*=__container] {
  max-width: 1410px;
  margin: 0px auto;
  padding: 0px 15px;
}

/* PC */
@media (max-width: 1410px) {
  [class*=__container] {
    max-width: 970px;
  }
}
/* TABLET  */
@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 750px;
  }
}
/* MOBILE */
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
  }
}
/* MOBILE SMALL */
.header {
  user-select: none;
}

.main {
  flex: 1 1 auto;
}

.batman-trilogy__container {
  padding: 170px 15px 37px;
}
.batman-trilogy__about {
  margin: 0 0 55px 0;
}

.about__title {
  margin: 0 0 16px 0;
}
.about__subtitle {
  margin: 0 0 36px 0;
}
.about__genres {
  display: flex;
  gap: 32px;
  margin: 0 0 38px 0;
}
.about__plot {
  margin: 0 0 48px 0;
}
.about__button {
  display: flex;
  align-items: center;
  text-align: center;
}

.title {
  font-weight: 700;
  line-height: 98px;
}
@media (max-width: 767.98px) {
  .title {
    font-size: calc(48px + 40.8 * ((100vw - 320px) / 1410));
  }
}
@media (min-width: 767.98px) {
  .title {
    font-size: calc(48px + 24 * (100vw / 1410));
  }
}

.subtitle {
  font-weight: 700;
  line-height: 40px;
}
@media (max-width: 767.98px) {
  .subtitle {
    font-size: calc(24px + 6.8 * ((100vw - 320px) / 1410));
  }
}
@media (min-width: 767.98px) {
  .subtitle {
    font-size: calc(24px + 4 * (100vw / 1410));
  }
}

.genres {
  color: #B2B2B2;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.plot {
  max-width: 604px;
}
.plot__text-bold {
  margin: 0 0 16px 0;
}

.plot-text_bold {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}
.plot-text_regular {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.plot-text_regular a {
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  text-decoration: underline;
}

.button-main {
  padding: 12px 67px 12px 68px;
  font-weight: 600;
  line-height: 32px;
}
@media (max-width: 767.98px) {
  .button-main {
    font-size: calc(18px + 10.2 * ((100vw - 320px) / 1410));
  }
}
@media (min-width: 767.98px) {
  .button-main {
    font-size: calc(18px + 6 * (100vw / 1410));
  }
}

.cards__wrapper {
  display: flex;
}
.cards__row {
  display: flex;
  margin: 0px auto;
  flex-wrap: wrap;
  gap: 99px;
  justify-content: center;
}

.footer {
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
}
.footer__container {
  display: flex;
  padding: 0 15px 36px 15px;
  justify-content: space-between;
}

.brand__wrapper {
  display: flex;
  gap: 12px;
  align-items: center;
}
.brand__brand-icons {
  display: flex;
  gap: 12px;
}

.franchise-text {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #929292;
}

.social__wrapper {
  display: flex;
}
.social__social-icons {
  display: flex;
  gap: 32px;
  align-items: center;
}

@media (max-width: 1410px) {
  .menu__body {
    margin: 0 40px 0 0;
  }
  .menu__list {
    gap: 40px;
  }
  .cards__row {
    gap: 55px;
  }
}
@media (max-width: 991.98px) {
  .header__logo._active::before {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .header__logo._active::after {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
    transform: rotate(45deg) translate(-5px, -6px);
  }
  .header__logo._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__body {
    position: fixed;
    overflow: auto;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #000;
    transition: left 0.3s ease 0s;
    padding: 100px 15px 30px 15px;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__icon {
    margin-left: 20px;
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span, .menu__icon::before, .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .menu__icon::before, .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active::before {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .menu__icon._active::after {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
    transform: rotate(45deg) translate(-5px, -6px);
  }
  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}
@media (max-width: 767.98px) {
  .about__button {
    justify-content: center;
  }
  .title {
    text-align: center;
  }
  .subtitle {
    text-align: center;
  }
  .genres {
    text-align: center;
    justify-content: center;
  }
  .franchise__franchise-text {
    max-width: 246px;
  }
}
@media (max-width: 479.98px) {
  .item-poster img {
    display: none;
  }
  .item-description__item-buttons {
    margin: 0 0 16px 0;
  }
  .footer__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer__brand {
    margin: 0 0 12px 0;
  }
  .franchise-text {
    text-align: center;
  }
}